.header {
    width: auto;
    height: 200px;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(11,121,9,1) 100%, rgba(0,212,255,1) 100%);
}

.card {
    margin-bottom: 0px;
}

.card-text {
    padding: 0px;
    margin-bottom: opx;
    margin: 0px;
}

.profile {
    margin-top: -100px;
}

.welcome {
    font-size: 80px;
}

.btnn {
    z-index: 1;
}